.Modal {
  background-color: white !important;
  width: 800px;
  height: 665px;
  border-radius: 2px;
  position: absolute;
  margin: 0 auto;
  box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.12), 0px 2px 4px -3px rgba(0, 0, 0, 0.2);
  outline: none;
  background: url('./assets/modal-illustration.svg') no-repeat;
  background-size: 210px 245px;
  background-position-x: 93%;
  background-position-y: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.018);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalHeadingWrapper {
  padding: 50px 0 0 41px;
}

.Heading {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.Description {
  max-width: 50%;
  font-size: 11px;
  margin-top: -2px;
  line-height: 1.4;
  letter-spacing: -0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.Content {
  display: flex;
  padding-top: 44px;
}

.LhsContent {
  width: 16%;
  height: 200px;
}

.LhsItem {
  display: flex;
  cursor: pointer;
  padding: 10px 25px;
  align-items: center;
  justify-content: space-between;
}

.LhsItemText {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.RhsItemText {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.1px;
}

.active, .active > p {
  color: white;
  background-color: #307df1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.active::after {
  content: '';
  width: 5px;
  height: 5px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

.RhsContent {
  flex: 1;
  height: 330px;
  padding: 0 25px;
}

.RhsTabs {
  display: flex;
}

.RhsTab {
  cursor: pointer;
  position: relative;
  padding: 0 12px 0 16px;
}

.RhsContentWrapper {
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin-top: 32px;
    height: 100%;
}
.activeTab, .activeTab > p {
  font-weight: 500;
  color: black;
}

.activeTab::after {
  content: '';
  width: 80px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  background-color:#307df1;
  height: 4px;
}

.Card {
  position: relative;
  padding: 9px 15px;
  min-height: 40px;
  margin-bottom: 18px;
  margin-top: 4px;
  width: 418px;
  margin-left: 15px;
  box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.12), 0px 2px 4px -3px rgba(0, 0, 0, 0.2);
}

.CardTitle {
  font-size: 10px;
  font-weight: 600;
  margin: 0;
}

.CardInstruction {
  color: rgba(0, 0, 0, 0.4);
}

.AttributeWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.CardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.CrossIcon {
  position: relative;
  /* top: -4px;
  right: 18px; */
  margin: 0;
  height: 100%;
  transform: rotate(45deg);
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

.Footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: -webkit-fill-available;
  box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.12), 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 0 40px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chevronRight {
  width: 110px
}
.chevronLeft {
  width: 110px
}
.ProgressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -19px;
  left: 202px;
}

.Circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.FirstCheck {
  background: #3bbb6c;
}

.FirstLine {
  width: 138px;
  border: 1px solid #3bbb6c;
}

.SecondCheck {
  background-color: #307df1;
}

.SecondLine {
  width: 134px;
  border: 1px dashed #307df1;
}

.SecondText {
  text-align: center;
  margin-top: 11px;
  color: #ffffff;
  font-size: 14px;
}

.FirstText {
  text-align: center;
  margin-top: 7px;
  color: #ffffff;
  font-size: 22px;
}

.ThirdCheck {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 3px solid #bbbbbb;
  background-color: #ffffff;
}

.ThirdText {
  text-align: center;
  margin-top: 9px;
  color: #bbbbbb;
  font-size: 14px;
}

.Dashed {
  border: none;
  outline: none;
  border-bottom: 1px dotted #bbbbbb;
}

.AttributeInput {
  color: #4c4c4c;
  font-weight: 600;
  width: 105px;
  font-size: 10px;
  padding-bottom: 2px;
}

.AttributeInput::placeholder{
  color: #bbbbbb;
}

.ShortCutInput {
  width: 137px;
  color: #4c4c4c;
  font-weight: 600;
  margin-left: 20px;
}

.ShortCutInput::placeholder {
  font-style: italic;
  color: #bbbbbb;
  font-size: 9px;
}

.TagsInput {
  width: 100%;
  border: none;
  font-weight: 600;
  margin-top: 10px;
  color: #4c4c4c;
  outline: none;
}

.TagsInput::placeholder {
  color: #bbbbbb;
}

.Attributes {
  min-height: 80px;
  /* margin-top: 18px; */
  padding: 11px 15px;
}

.AddButton {
  width: 60px;
  margin-top: 10px;
  margin-left: 4px;
  color: #fff;
  font-size: 11px;
  border: none;
  font-weight: 500;
  padding: 8px 0;
  border-radius: 3px;
  box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.12), 0px 2px 4px -3px rgba(0, 0, 0, 0.2);
  background-color: #bbbbbb;
}

.AttributesCard {
  right: 38px;
}

.ButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}